@keyframes show{
	0%{
		transform: scale(0.5,0.5);opacity: 0;
		-moz-transform: scale(0.5,0.5);opacity: 0;
		-webkit-transform: scale(0.5,0.5);opacity: 0;
		-o-transform: scale(0.5,0.5);opacity: 0;
	}
	40%{
		transform: scale(1,1);opacity: 1;
		-moz-transform: scale(1,1);opacity: 1
		-webkit-transform: scale(1,1);opacity: 1
		-o-transform: scale(1,1);opacity: 1
	}
	70%{
		transform: scale(1,1);opacity: 1;
		-moz-transform: scale(1,1);opacity: 1
		-webkit-transform: scale(1,1);opacity: 1
		-o-transform: scale(1,1);opacity: 1

	}
	100%{
		transform: scale(1.2,1.2);opacity: 0;
		-moz-transform: scale(1.2,1.2);opacity: 0;
		-webkit-transform: scale(1.2,1.2);opacity: 0;
		-o-transform: scale(1.2,1.2);opacity: 0;
	}
}
@-moz-keyframes  show{
	0%{
		transform: scale(0.5,0.5);opacity: 0;
		-moz-transform: scale(0.5,0.5);opacity: 0;
		-webkit-transform: scale(0.5,0.5);opacity: 0;
		-o-transform: scale(0.5,0.5);opacity: 0;
	}
	40%{
		transform: scale(1,1);opacity: 1;
		-moz-transform: scale(1,1);opacity: 1
		-webkit-transform: scale(1,1);opacity: 1
		-o-transform: scale(1,1);opacity: 1
	}
	70%{
		transform: scale(1,1);opacity: 1;
		-moz-transform: scale(1,1);opacity: 1
		-webkit-transform: scale(1,1);opacity: 1
		-o-transform: scale(1,1);opacity: 1

	}
	100%{
		transform: scale(1.2,1.2);opacity: 0;
		-moz-transform: scale(1.2,1.2);opacity: 0;
		-webkit-transform: scale(1.2,1.2);opacity: 0;
		-o-transform: scale(1.2,1.2);opacity: 0;
	}
}
@-webkit-keyframes show{
	0%{
		transform: scale(0.5,0.5);opacity: 0;
		-moz-transform: scale(0.5,0.5);opacity: 0;
		-webkit-transform: scale(0.5,0.5);opacity: 0;
		-o-transform: scale(0.5,0.5);opacity: 0;
	}
	40%{
		transform: scale(1,1);opacity: 1;
		-moz-transform: scale(1,1);opacity: 1
		-webkit-transform: scale(1,1);opacity: 1
		-o-transform: scale(1,1);opacity: 1
	}
	70%{
		transform: scale(1,1);opacity: 1;
		-moz-transform: scale(1,1);opacity: 1
		-webkit-transform: scale(1,1);opacity: 1
		-o-transform: scale(1,1);opacity: 1

	}
	100%{
		transform: scale(1.2,1.2);opacity: 0;
		-moz-transform: scale(1.2,1.2);opacity: 0;
		-webkit-transform: scale(1.2,1.2);opacity: 0;
		-o-transform: scale(1.2,1.2);opacity: 0;
	}
}
@-o-keyframes show{
	0%{
		transform: scale(0.5,0.5);opacity: 0;
		-moz-transform: scale(0.5,0.5);opacity: 0;
		-webkit-transform: scale(0.5,0.5);opacity: 0;
		-o-transform: scale(0.5,0.5);opacity: 0;
	}
	40%{
		transform: scale(1,1);opacity: 1;
		-moz-transform: scale(1,1);opacity: 1
		-webkit-transform: scale(1,1);opacity: 1
		-o-transform: scale(1,1);opacity: 1
	}
	70%{
		transform: scale(1,1);opacity: 1;
		-moz-transform: scale(1,1);opacity: 1
		-webkit-transform: scale(1,1);opacity: 1
		-o-transform: scale(1,1);opacity: 1

	}
	100%{
		transform: scale(1.2,1.2);opacity: 0;
		-moz-transform: scale(1.2,1.2);opacity: 0;
		-webkit-transform: scale(1.2,1.2);opacity: 0;
		-o-transform: scale(1.2,1.2);opacity: 0;
	}
}
@keyframes sun{
	0%{
		opacity: 1
	}
	100%{
		opacity: 0.3
	}
}
@-moz-keyframes  sun{
	0%{
		opacity: 1
	}
	100%{
		opacity: 0.3
	}
}
@-webkit-keyframes sun{
	0%{
		opacity: 1
	}
	100%{
		opacity: 0.3
	}
}
@-o-keyframes sun{
	0%{
		opacity: 1
	}
	100%{
		opacity: 0.3
	}
}

#bg{
	width: 100%;
	height: 100%;
	min-width: 320px;
	overflow: hidden;
	position: fixed;
}
#bg p{
	width: 100%;
	position: absolute;
	z-index: 3;
	top:45%;
	color: #eee;
	opacity: 0;
	text-shadow: 1px 1px 20px #fff;
	text-align: center;
	font-size: 18px;
	font-weight: lighter;
	letter-spacing: 10px;
}
#bg .moveBg{
	height: 100%;
	width: 162.5%;
	max-width: 1920px;
	background: url('../images/bg.jpg') center;
	background-size: cover;
	position: absolute;
	z-index: 1;
}
#bg .moveBg div{
	opacity: 0;
	filter: alpha(opacity=0);
}
#bg .moveBg span {
    display: inline-block;
    width: 24%;
    padding-top: 5%;
    position: absolute;
    z-index: 33;
}
#bg .moveBg span.one{
    left: 38%;
    bottom: 16%;
}
#bg .moveBg span.two{
    left: 51%;
    bottom: 21%;
}
#bg .moveBg span.three{
    left: 22%;
    bottom: 16%;
}
#bg .moveBg span.four{
    left: 13%;
    bottom: 22%;
}
#bg .moveBg img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
 }
  #bg .moveBg .num2{
  	z-index: 6;
  	display: none;
  }
 #bg .moveBg .num1{
 	z-index: 7;
	opacity: 0;
	filter: alpha(opacity=0);
 }
#bg .m_six , #bg .cx_seven , #bg .m_eight ,#bg .m_ry {
	width: 20%;
	padding-top:20%; 
	position: absolute;
	z-index: 6;
}
#bg .m_six{
	background: url('../images/m6.png') center no-repeat;
	background-size:cover; 
	top: 10%;
	left: 35%;
}
#bg .cx_seven{
	background: url('../images/cx7.png') center no-repeat;
	background-size:cover; 
	top: 0%;
	left: 0;
}
#bg .m_eight{
	background: url('../images/m8.png') center no-repeat;
	background-size:cover; 
	top: -7%;
	right: 9%;
}
#bg .m_ry{
	background: url('../images/ry.png') center no-repeat;
	background-size:cover; 
	top: 50%;
	right: 0%;
}
#box{
	width: 100%;
	min-width: 320px;
	padding-top: 13.0208%;
	position: fixed;
	z-index: 2;
	pointer-events: none;
}
#box .earth{
	background: url('../images/earth.png') center;
	width: 100%;
	min-width: 320px;
	height: 100%;
	position: absolute;
	top: 0;
	background-size: cover;
	display: none;
	pointer-events: none;
}
#box .sun{
	background: url('../images/sun.png');
	width: 100%;
	min-width: 320px;
	height: 100%;
	background-size: cover;
	position: absolute;
	top: 0;
	display: none;
}

@media (max-width: 1024px)  {
	#bg .m_six , #bg .cx_seven , #bg .m_eight ,#bg .m_ry{
		width: 25%;
		padding-top: 25%;
	}
	#bg .moveBg{
		width: 295%;
	}
	#bg .m_six{
		top: 10%;
		left: 27%;
	}
	#bg .cx_seven{
		top: 10%;
		left: 7%;
	}
	#bg .m_eight{
		top: 10%;
		left: 50%;
	}
	#bg .m_ry{
		top: 10%;
		left: 73%;
	}
}
@media(max-width: 960px)  {
	
	#bg p{
		letter-spacing: 6px;	
	}
	#bg .msix{
		width: 26%
	}
	#bg .m_six{
		top: 0%;
	}
	#bg .cx_seven{
		top:0%;
	}
	#bg .m_eight{
		top: 0%;
	}
	#bg .m_ry{
		top: 0%;
	}
}
@media(max-width: 768px) {
	#bg .m_six , #bg .cx_seven , #bg .m_eight ,#bg .m_ry{
		width: 16%;
		padding-top: 16%;
	}
	#bg p{
		font-size: 18px;
		letter-spacing: 8px;
	}
}
@media (max-width: 568px) and (orientation : landscape){
	#bg .m_six , #bg .cx_seven , #bg .m_eight ,#bg .m_ry{
		width: 13%;
		padding-top: 13%;
	}
	#bg p{
		font-size: 11px;
	}
}
@media(max-width: 480px) and (min-width: 375px) {
	#bg p{
		font-size: 12px;
		letter-spacing: 6px;
	}
	#bg .m_six{
		top: 30%;
	}
	#bg .cx_seven{
		top: 30%;
	}
	#bg .m_eight{
		top: 30%;
	}
	#bg .m_ry{
		top: 30%;
	}
}
@media (max-width: 375px){
	#bg p{
		font-size: 12px;
		letter-spacing: 2px;
	}
	#bg .m_six{
		top: 30%;
	}
	#bg .cx_seven{
		top: 30%;
	}
	#bg .m_eight{
		top: 30%;
	}
	#bg .m_ry{
		top: 30%;
	}
}